:root {
    /* colors */
    --color-dark:       rgb(21, 25, 85);
    --color-light:      rgb(240, 243, 255);
    --color-light-rgb:  240, 243, 255;
    --color-bg1:        rgb(79, 79, 255);
    --color-bg1-rgb:    50, 50, 255;
    --color-bg2:        rgb(219, 224, 255);
    --color-bg3:        rgb(222, 232, 252);
    /* vh */
    --nav-height:              calc(var(--vh) * 8);
    --nav-height-neg:          calc(var(--nav-height) * -1);
    --nav-half:                calc(var(--nav-height) / 2);
    --nav-half-neg:            calc(var(--nav-half) * -1);
    --vh100:                   calc(var(--vh) * 100);
    --content-height:          calc(var(--vh100) - var(--nav-height));
    --content-height-nav-half: calc(var(--vh100) - var(--nav-half));
}

body {
    margin: 0;
    font-family: 'Arial Narrow', 'Helvetica', sans-serif;
    font-size: 1.3em;
    color: var(--color-dark);
}

.noselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

#content {
    position: absolute;
    top: var(--nav-half);
    height: var(--content-height-nav-half);
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
}

.buffer {
    margin-left: 14vw;
    margin-right: 14vw;
}

::-moz-selection {
    background: var(--color-bg1);
    color:      var(--color-light);
}

::selection {
    background: var(--color-bg1);
    color:      var(--color-light);
}

a {
    color: var(--color-bg1);
}

nav a {
    color: var(--color-dark);
}

.active {
    color: var(--color-bg1);
    font-weight: bolder;
    text-shadow: 1px 1px 2px var(--color-bg3), -1px -1px 2px var(--color-bg3), 0px 0px 2px var(--color-bg3);
}

nav {
    position: absolute;
    width: 100%;
    top: var(--nav-half-neg);
    height: var(--nav-height);
    background: white;
}

nav ul {
    list-style: none;
    padding: 0;
    padding-left: calc(var(--vh) * 8);
    font-size: calc(var(--vh) * 2.5);
    margin: 0;
    height: var(--nav-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav a {
    text-decoration: none;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#nav-hider {
    display: -ms-grid;
    display: grid;
    position: absolute;
    z-index: 2;
    top: var(--nav-half-neg);
    width: var(--nav-height); height: var(--nav-height);
    line-height: calc(var(--nav-height) - var(--vh));
    font-size: var(--nav-height);
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

#nav-hider:not(:checked)::before {
    content: '«';
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

#nav-hider:not(:checked):not(:focus) {
    top: 0;
}

#nav-hider:not(:checked):not(:focus) ~ nav {
    top: 0;
}

#nav-hider:not(:checked):not(:focus) ~ #content {
    top: var(--nav-height);
    height: var(--content-height);
}

#nav-hider:not(:checked):not(:focus) ~ #content > #jumbo {
    height: var(--content-height);
}

#nav-hider:checked {
    top: var(--nav-half);
    background: url(./img/burger.svg) no-repeat center;
    background-size: contain;
    border-radius: var(--vh);
    opacity: 0;
    -webkit-animation: movebutton 1s forwards;
            animation: movebutton 1s forwards;
}

#nav-hider:checked ~ nav {
    -webkit-animation: hide 1s forwards;
            animation: hide 1s forwards;
}

#nav-hider:checked ~ #content {
    -webkit-animation: grow 1s forwards;
            animation: grow 1s forwards;
}

#nav-hider:not(:checked) {
    -webkit-animation: movebuttonback 1s forwards;
            animation: movebuttonback 1s forwards;
}

#nav-hider:not(:checked):focus ~ #content {
    -webkit-animation: shrink 1s forwards;
            animation: shrink 1s forwards;
}

#nav-hider:not(:checked):focus ~ nav {
    -webkit-animation: unhide 1s forwards;
            animation: unhide 1s forwards;
}

@-webkit-keyframes movebutton {
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes movebutton {
    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes hide {
    100% {
        top: var(--nav-height-neg);
    }
}

@keyframes hide {
    100% {
        top: var(--nav-height-neg);
    }
}

@-webkit-keyframes grow {
    100% {
        top: 0;
        height: var(--vh100);
    }
}

@keyframes grow {
    100% {
        top: 0;
        height: var(--vh100);
    }
}

@-webkit-keyframes movebuttonback {
    100% {
        top: 0;
    }
}

@keyframes movebuttonback {
    100% {
        top: 0;
    }
}

@-webkit-keyframes unhide {
    100% {
        top: 0;
    }
}

@keyframes unhide {
    100% {
        top: 0;
    }
}

@-webkit-keyframes shrink {
    100% {
        top: var(--nav-height);
        height: var(--content-height);
    }
}

@keyframes shrink {
    100% {
        top: var(--nav-height);
        height: var(--content-height);
    }
}

.page {
    min-height: var(--content-height);
    position: relative;
}

#jumbo > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    height: var(--content-height); 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
        -ms-flex-flow: row; 
            flex-flow: row; 
    -ms-flex-pack: distribute; 
        justify-content: space-around;
}

#jumbo > div > img {
    display: block; 
    max-height: calc(var(--vh) * 90); 
    max-width: 84vw; 
    margin: auto;
}

#jumbo > img {
    top: 0; 
    position: fixed; 
    height: var(--vh100); 
    min-width: 100vw; 
    z-index: -3; 
    opacity: 0.25;
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 2.3em;
}

hr {
    background: var(--color-dark);
    padding: 1.5px;
    border: none;
}

#about .buffer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
        -ms-flex-flow: row; 
            flex-flow: row; 
    -ms-flex-pack: distribute; 
        justify-content: space-around;
}

#about .buffer > div {
    width: 30%;
}

#about .buffer > img {
    width: 60%; 
    border-radius: 10px;
}

#roster {
    background: -o-linear-gradient(var(--color-light), var(--color-bg2), var(--color-bg3), var(--color-bg2), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), color-stop(var(--color-bg2)), color-stop(var(--color-bg3)), color-stop(var(--color-bg2)), to(var(--color-light)));
    background: linear-gradient(var(--color-light), var(--color-bg2), var(--color-bg3), var(--color-bg2), var(--color-light));
}

#rostercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.rosterbox {
    position: relative;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    margin: 10px;
    background-size: cover !important;
}

.rostertext {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: var(--color-bg1);
    text-shadow: -2px -1px 3px var(--color-bg2), 2px 1px 3px var(--color-light);
    font-size: 1.3em;
    font-weight: bold;
}

.overlay {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--color-bg1);
    border-radius: 10px;
    z-index: 1;
}

.overlay:hover {
    cursor: pointer;
    opacity: 0.3;
}

#contact {
    background: -o-linear-gradient(rgba(var(--color-light-rgb),0.0), rgba(var(--color-light-rgb), 1.0), var(--color-bg3), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(var(--color-light-rgb),0.0)), color-stop(rgba(var(--color-light-rgb), 1.0)), color-stop(var(--color-bg3)), to(var(--color-light)));
    background: linear-gradient(rgba(var(--color-light-rgb),0.0), rgba(var(--color-light-rgb), 1.0), var(--color-bg3), var(--color-light));
}

#contactcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

#socials img {
    width: 90px;
}

#contactlogo img {
    height: 300px;
}

#formsection {
    text-align: center;
}

#formsection input, textarea {
    background: var(--color-light);
    color: var(--color-dark);
    border: groove rgba(var(--color-bg1-rgb),0.4);
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: rgba(var(--color-bg1-rgb),0.4);
}

::-moz-placeholder {
    color: rgba(var(--color-bg1-rgb),0.4);
}

:-ms-input-placeholder {
    color: rgba(var(--color-bg1-rgb),0.4);
}

::-ms-input-placeholder {
    color: rgba(var(--color-bg1-rgb),0.4);
}

::placeholder {
    color: rgba(var(--color-bg1-rgb),0.4);
}

#formsection input:focus,
textarea:focus {
    outline: none;
}

#formsection button {
    background: var(--color-bg1);
    color: var(--color-light);
    border: outset var(--color-bg1);
    border-radius: 10px;
    cursor: pointer;
}

form, #formsection input, textarea, #formsection button {
    font-size: 22px;
}

#footer {
    padding: calc(var(--vh) * 4);
    background: -o-linear-gradient(
                    var(--color-light),
                    rgba(var(--color-light-rgb),0.4),
                    rgba(var(--color-light-rgb),0.2),
                    rgba(var(--color-light-rgb),0.1),
                    rgba(var(--color-light-rgb),0.05),
                    rgba(var(--color-light-rgb),0.0));
    background: -webkit-gradient(
                    linear,
                    left top, left bottom,
                    from(var(--color-light)),
                    color-stop(rgba(var(--color-light-rgb),0.4)),
                    color-stop(rgba(var(--color-light-rgb),0.2)),
                    color-stop(rgba(var(--color-light-rgb),0.1)),
                    color-stop(rgba(var(--color-light-rgb),0.05)),
                    to(rgba(var(--color-light-rgb),0.0)));
    background: linear-gradient(
                    var(--color-light),
                    rgba(var(--color-light-rgb),0.4),
                    rgba(var(--color-light-rgb),0.2),
                    rgba(var(--color-light-rgb),0.1),
                    rgba(var(--color-light-rgb),0.05),
                    rgba(var(--color-light-rgb),0.0));
    text-align: center;
    color: var(--color-dark);
}

@media only screen and (max-width: 640px) {
    
    .buffer {
        margin-left: 14vw;
        margin-right: 14vw;
    }

    #about .buffer {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-flow: column !important;
                flex-flow: column !important;
    }
    
    #about .buffer > * {
        width: 100% !important;
    }

    .rosterbox {
        height: 210px;
        width: 294px;
    }

    #contactcontainer {
        font-size: smaller;
    }

    #socials {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        gap: 15px;
        padding-top: 15px;
    }
}

@media only screen and (max-height: 480px) {
    nav ul {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
    nav ul {
        font-size: 2vw;
    }
}

@media only screen and (max-aspect-ratio: 9/18) {
    nav ul {
        font-size: 5vw;
    }
}