#nav-hider {
    display: grid;
    position: absolute;
    z-index: 2;
    top: -4vh;
    width: 8vh; height: 8vh;
    color: white;
    line-height: 7vh;
    font-size: 8vh;
	text-align: center;
	cursor: pointer;
	appearance: none;
}

#nav-hider:checked::before {
    content: '≡';
}

#nav-hider:not(:checked)::before {
    content: '«';
    transform: rotate(90deg);
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

#nav-hider:not(:checked):not(:focus) {
    top: 0;
}

#nav-hider:not(:checked):not(:focus) ~ nav {
    top: 0;
}

#nav-hider:not(:checked):not(:focus) ~ #content {
    top: 8vh;
    height: 92vh;
}

#nav-hider:not(:checked):not(:focus) ~ #content > #jumbo {
    height: 92vh;
}

/* ---------------------------------------------------- */

#nav-hider:checked {
    top: 4vh;
    animation: movebutton 1s forwards;
}

#nav-hider:checked ~ nav {
    animation: hide 1s forwards;
}

#nav-hider:checked ~ #content {
    animation: grow 1s forwards;
}

/* ---------------------------------------------------- */

#nav-hider:not(:checked) {
    animation: movebuttonback 1s forwards;
}

#nav-hider:not(:checked):focus ~ #content {
    animation: shrink 1s forwards;
}

#nav-hider:not(:checked):focus ~ nav {
    animation: unhide 1s forwards;
}

/* ---------------------------------------------------- */

@keyframes movebutton {
    100% {
        background: blue;
        border-radius: 1vh;
        top: 0;
    }
}

@keyframes hide {
    100% {
        top: -8vh;
    }
}

@keyframes grow {
    100% {
        top: 0;
        height: 100vh;
    }
}

@keyframes movebuttonback {
    100% {
        top: 0;
    }
}

@keyframes unhide {
    100% {
        top: 0;
    }
}

@keyframes shrink {
    100% {
        top: 8vh;
        height: 92vh;
    }
}
