nav {
    position: absolute;
    background: black;
    color: white;
    width: 100%;
    top: -4vh;
    height: 8vh;
}

nav ul {
    list-style: none;
    padding: 0;
    padding-left: 8vh;
    font-size: 2.5vh;
    margin: 0;
    height: 8vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 1s ease-in-out;
}

.active {
    color: blue;
    text-shadow: 0px 0px 35px white, 0px 0px 30px white, 0px 0px 25px white, 0px 0px 20px white, 0px 0px 15px white, 0px 0px 10px white, 0px 0px 5px white, 0px 0px 1px white;
}

@media only screen
    and (max-device-height: 480px) {
        nav ul {
            font-size: 3.5vw;
        }
}

@media only screen
    and (max-device-width: 480px) and (orientation: landscape) {
        nav ul {
            font-size: 3.5vw;
        }
}
