:root {
    /* colors */
    --color-dark:       rgb(38, 43, 109);
    --color-dark-rgb:   18, 18, 61;
    --color-light:      rgb(190, 231, 255);
    --color-light-rgb:  202, 202, 241;
    --color-bg1:        rgb(50, 50, 255);
    --color-bg1-rgb:    50, 50, 255;
    --color-bg2:        rgb(101, 124, 255);
    --color-bg2-rgb:    101, 101, 255;
    --color-bg3:        rgb(160, 231, 253);
    --color-bg3-rgb:    182, 226, 255;
    /* slideshow */
    --sshow-height:     15vw; /* 10vw; */
    --sshow-width:      21vw; /* 14vw; */
    --numslides:        21;
    /* vh */
    --nav-height:              calc(var(--vh) * 8);
    --nav-height-neg:          calc(var(--nav-height) * -1);
    --nav-half:                calc(var(--nav-height) / 2);
    --nav-half-neg:            calc(var(--nav-half) * -1);
    --vh100:                   calc(var(--vh) * 100);
    --content-height:          calc(var(--vh100) - var(--nav-height));
    --content-height-nav-half: calc(var(--vh100) - var(--nav-half));
}

body {
    margin: 0;
    font-family: 'Arial Narrow', 'Helvetica', sans-serif;
    font-size: 18px;
    color: var(--color-dark);
    background: var(--color-light);
}

::-moz-selection {
    background: var(--color-bg1);
    color:      var(--color-light);
}

::selection {
    background: var(--color-bg1);
    color:      var(--color-light);
}

a {
    color: var(--color-bg1);
}

.noselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

hr {
    border: 1px solid var(--color-dark);
    margin: 0;
}

.fade {
    border: none;
    padding: calc(var(--vh) * 8);
    background: -o-linear-gradient(var(--color-bg2), var(--color-bg3), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg2)), color-stop(var(--color-bg3)), to(var(--color-light)));
    background: linear-gradient(var(--color-bg2), var(--color-bg3), var(--color-light));
}

.fade-footer {
    border: none;
    padding: calc(var(--vh) * 4);
    background: -o-linear-gradient(var(--color-light), var(--color-bg2));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), to(var(--color-bg2)));
    background: linear-gradient(var(--color-light), var(--color-bg2));
}

.fade-2way {
    border: none;
    padding: calc(var(--vh) * 8);
    background: -o-linear-gradient(var(--color-light), rgba(var(--color-bg2-rgb),.3) 20%, var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), color-stop(20%, rgba(var(--color-bg2-rgb),.3)), to(var(--color-light)));
    background: linear-gradient(var(--color-light), rgba(var(--color-bg2-rgb),.3) 20%, var(--color-light));
}

.buffer {
    margin-left: 5vw;
    margin-right: 5vw;
}

#content {
    position: absolute;
    top: var(--nav-half);
    height: var(--content-height-nav-half);
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
}

#footer {
    padding: calc(var(--vh) * 4);
    background: -o-linear-gradient(var(--color-bg2), var(--color-bg1));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg2)), to(var(--color-bg1)));
    background: linear-gradient(var(--color-bg2), var(--color-bg1));
    text-align: center;
    color: var(--color-bg3);
}

/* ---------------------------------------------------- */

nav {
    position: absolute;
    background: var(--color-dark);
    color: var(--color-light);
    width: 100%;
    top: var(--nav-half-neg);
    height: var(--nav-height);
}

nav ul {
    list-style: none;
    padding: 0;
    padding-left: calc(var(--vh) * 8);
    font-size: calc(var(--vh) * 2.5);
    margin: 0;
    height: var(--nav-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--color-light);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.active {
    color: var(--color-bg1);
    font-weight: bolder;
    text-shadow: 1px 1px 2px var(--color-bg3), -1px -1px 2px var(--color-bg3), 0px 0px 2px var(--color-bg3);
}

/* ---------------------------------------------------- */

#nav-hider {
    display: -ms-grid;
    display: grid;
    position: absolute;
    z-index: 2;
    top: var(--nav-half-neg);
    width: var(--nav-height); height: var(--nav-height);
    color: var(--color-light);
    line-height: calc(var(--nav-height) - var(--vh));
    font-size: var(--nav-height);
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

#nav-hider:not(:checked)::before {
    content: '«';
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

#nav-hider:not(:checked):not(:focus) {
    top: 0;
}

#nav-hider:not(:checked):not(:focus) ~ nav {
    top: 0;
}

#nav-hider:not(:checked):not(:focus) ~ #content {
    top: var(--nav-height);
    height: var(--content-height);
}

#nav-hider:not(:checked):not(:focus) ~ #content > #jumbo {
    height: var(--content-height);
}

#nav-hider:checked {
    top: var(--nav-half);
    background: url(./img/burger.svg) no-repeat center;
    background-size: contain;
    border-radius: var(--vh);
    opacity: 0;
    -webkit-animation: movebutton 1s forwards;
            animation: movebutton 1s forwards;
}

#nav-hider:checked ~ nav {
    -webkit-animation: hide 1s forwards;
            animation: hide 1s forwards;
}

#nav-hider:checked ~ #content {
    -webkit-animation: grow 1s forwards;
            animation: grow 1s forwards;
}

#nav-hider:not(:checked) {
    -webkit-animation: movebuttonback 1s forwards;
            animation: movebuttonback 1s forwards;
}

#nav-hider:not(:checked):focus ~ #content {
    -webkit-animation: shrink 1s forwards;
            animation: shrink 1s forwards;
}

#nav-hider:not(:checked):focus ~ nav {
    -webkit-animation: unhide 1s forwards;
            animation: unhide 1s forwards;
}

/* ---------------------------------------------------- */

#jumbo {
    background: -o-linear-gradient(rgba(var(--color-bg1-rgb), 0.8), 
                                rgba(var(--color-bg3-rgb), 0.8) 60%, 
                                rgba(var(--color-bg2-rgb), 0.8) 80%, 
                                rgba(var(--color-light-rgb), 0.8) 100%),
                url(./img/yonk.webp);
    background: -webkit-gradient(linear, 
                                left top, left bottom, 
                                from(rgba(var(--color-bg1-rgb), 0.8)), 
                                color-stop(60%, rgba(var(--color-bg3-rgb), 0.8)), 
                                color-stop(80%, rgba(var(--color-bg2-rgb), 0.8)), 
                                to(rgba(var(--color-light-rgb), 0.8))),
                url(./img/yonk.webp);
    background: linear-gradient(rgba(var(--color-bg1-rgb), 0.8), 
                                rgba(var(--color-bg3-rgb), 0.8) 60%, 
                                rgba(var(--color-bg2-rgb), 0.8) 80%, 
                                rgba(var(--color-light-rgb), 0.8) 100%),
                url(./img/yonk.webp);
    height: var(--content-height);
    position: relative;
}

#logoarea {
    height: calc(var(--vh) * 58);
    background: url('./img/TFM4-transparent-black-3000.svg') center no-repeat;
    background-size: contain;
}

#tagline {
    position: relative;
    top: calc(var(--vh) * -5);
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.sshowbutton {
    position: absolute;
    height: var(--sshow-height);
    width: var(--sshow-width);
    font-size: 60px;
    border: none;
    color: var(--color-bg1);
    text-shadow: 0px 1px 1px var(--color-light);
    cursor: pointer;
    text-align: center;
    bottom: 0;
}

#prev {
    background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8));
    background: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0)), to(rgba(var(--color-dark-rgb),.8)));
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8));
    left: 0vw;
}

#prev:hover {
    background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8), rgba(var(--color-dark-rgb),1));
    background: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0)), color-stop(rgba(var(--color-dark-rgb),.8)), to(rgba(var(--color-dark-rgb),1)));
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8), rgba(var(--color-dark-rgb),1));
}

#next {
    background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8));
    background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(var(--color-dark-rgb),.8)));
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8));
    right: 0vw;
}

#next:hover {
    background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8), rgba(var(--color-dark-rgb),1));
    background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), color-stop(rgba(var(--color-dark-rgb),.8)), to(rgba(var(--color-dark-rgb),1)));
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(var(--color-dark-rgb),.8), rgba(var(--color-dark-rgb),1));
}

#slideshow {
    position: absolute;
    width: calc(var(--sshow-width) * var(--numslides));
    left: -28vw;
    height: var(--sshow-height);
    bottom: 0;
}

.sshowbox {
    display: inline-block;
    width: var(--sshow-width);
    height: var(--sshow-height);
}

.sshow01 {
    background: url(./img/ray.webp) no-repeat;
    background-size: contain;
}

.sshow02 {
    background: url(./img/davestruestory.webp) no-repeat;
    background-size: contain;
}

.sshow03 {
    background: url(./img/courtney.webp) no-repeat;
    background-size: contain;
}

.sshow04 {
    background: url(./img/neil.webp) no-repeat;
    background-size: contain;
}

.sshow05 {
    background: url(./img/lipbone.webp) no-repeat;
    background-size: contain;
}

.sshow06 {
    background: url(./img/sixthletter.webp) no-repeat;
    background-size: contain;
}

.sshow07 {
    background: url(./img/mlumbo.webp) no-repeat;
    background-size: contain;
}

.sshow08 {
    background: url(./img/marc.webp) no-repeat;
    background-size: contain;
}

.sshow09 {
    background: url(./img/buick6.webp) no-repeat;
    background-size: contain;
}

.sshow10 {
    background: url(./img/julie.webp) no-repeat;
    background-size: contain;
}

.sshow11 {
    background: url(./img/linda.webp) no-repeat;
    background-size: contain;
}

.sshow12 {
    background: url(./img/squealer.webp) no-repeat;
    background-size: contain;
}

.sshow13 {
    background: url(./img/bobby.webp) no-repeat;
    background-size: contain;
}

.sshow14 {
    background: url(./img/riviera.webp) no-repeat;
    background-size: contain;
}

.sshow15 {
    background: url(./img/alectro.webp) no-repeat;
    background-size: contain;
}

.sshow16 {
    background: url(./img/kelly.webp) no-repeat;
    background-size: contain;
}

.sshow17 {
    background: url(./img/craig.webp) no-repeat;
    background-size: contain;
}

.sshow18 {
    background: url(./img/peter.webp) no-repeat;
    background-size: contain;
}

.sshow19 {
    background: url(./img/milton.webp) no-repeat;
    background-size: contain;
}

.sshow20 {
    background: url(./img/joncharles.webp) no-repeat;
    background-size: contain;
}

.sshow21 {
    background: url(./img/michelangelo.webp) no-repeat;
    background-size: cover;
}

/* ---------------------------------------------------- */

#intro--songwriter-first {
    background: -o-linear-gradient(var(--color-light), var(--color-bg3));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), to(var(--color-bg3)));
    background: linear-gradient(var(--color-light), var(--color-bg3));
}

#intro--communication {
    background: -o-linear-gradient(var(--color-bg3), var(--color-bg2));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg3)), to(var(--color-bg2)));
    background: linear-gradient(var(--color-bg3), var(--color-bg2));
}

#intro--registration {
    background: -o-linear-gradient(var(--color-bg2), var(--color-bg3));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg2)), to(var(--color-bg3)));
    background: linear-gradient(var(--color-bg2), var(--color-bg3));
}

#intro--revenue {
    background: -o-linear-gradient(var(--color-bg3), var(--color-bg2));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg3)), to(var(--color-bg2)));
    background: linear-gradient(var(--color-bg3), var(--color-bg2));
}

#intro--supervisors {
    background: -o-linear-gradient(var(--color-bg2), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-bg2)), to(var(--color-light)));
    background: linear-gradient(var(--color-bg2), var(--color-light));
}

.logorow {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /* max-width:90rem; */
    text-align:center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 50px;
}
  
.logorow img {
    margin-top: 5%;
}

#agency-row img {
    max-height: calc(var(--vh) * 9);
}

#streaming-row img {
    max-height: calc(var(--vh) * 11);
}

#supervisor-row img {
    max-height: calc(var(--vh) * 20);
}

.imgsplit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
}

.imgsplit p {
    width: 90%;
}

.imgsplit div {
    width: 50%;
    min-height: calc(var(--vh) * 40);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.rightimg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}

.leftimg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
}

.rightimg .imgsplit--text,
.leftimg .imgsplit--img {
    margin-left: 60px;
}

.leftimg .imgsplit--text,
.rightimg .imgsplit--img {
    margin-left: 10px;
}

.leftimg .imgsplit--img,
.rightimg .imgsplit--text {
    margin-right: 10px;
}

/* ---------------------------------------------------- */

#roster {
    background: -o-linear-gradient(var(--color-light), var(--color-bg2), var(--color-bg3), var(--color-bg2), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), color-stop(var(--color-bg2)), color-stop(var(--color-bg3)), color-stop(var(--color-bg2)), to(var(--color-light)));
    background: linear-gradient(var(--color-light), var(--color-bg2), var(--color-bg3), var(--color-bg2), var(--color-light));
}

#rostercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.rosterbox {
    position: relative;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    margin: 10px;
    background-size: cover !important;
}

.rostertext {
    position: absolute;
    width: 100%;
    text-align: center;
    color: var(--color-bg1);
    text-shadow: -2px -1px 3px var(--color-bg2), 2px 1px 3px var(--color-light);
    font-size: 22px;
    font-weight: bold;
}

.overlay {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--color-bg1);
    border-radius: 10px;
    z-index: 1;
}

.overlay:hover {
    cursor: pointer;
    opacity: 0.3;
}

/* ---------------------------------------------------- */

#about {
    background: -o-linear-gradient(var(--color-light), var(--color-bg2), var(--color-bg3), var(--color-bg2), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), color-stop(var(--color-bg2)), color-stop(var(--color-bg3)), color-stop(var(--color-bg2)), to(var(--color-light)));
    background: linear-gradient(var(--color-light), var(--color-bg2), var(--color-bg3), var(--color-bg2), var(--color-light));
}

.aboutimg {
    margin-top: calc(var(--vh) * 8);
    margin-bottom: calc(var(--vh) * 8);
    height: calc(var(--vh) * 70);
}

#aboutimg-bottom {
    margin-bottom: 0;
}

/* ---------------------------------------------------- */

#contact {
    background: -o-linear-gradient(var(--color-light), var(--color-bg3), var(--color-light));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light)), color-stop(var(--color-bg3)), to(var(--color-light)));
    background: linear-gradient(var(--color-light), var(--color-bg3), var(--color-light));
}

#contactcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

#socials img {
    width: 90px;
}

#contactlogo img {
    height: 300px;
}

#formsection {
    text-align: center;
}

#formsection input, textarea {
    background: var(--color-light-rgb);
    color: var(--color-dark);
    border: groove rgba(var(--color-bg1-rgb),0.4);
    border-radius: 5px;
}

#formsection input:focus,
textarea:focus {
    outline: none;
}

#formsection button {
    background: var(--color-bg1);
    color: var(--color-light);
    border: outset var(--color-bg1);
    border-radius: 10px;
    cursor: pointer;
}

form, #formsection input, textarea, #formsection button {
    font-size: 22px;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

@media only screen and (max-width: 640px) {
    :root {
        --sshow-height: 37.5vw;
        --sshow-width:  52.5vw;
    }
    
    .buffer {
        margin-left: 14vw;
        margin-right: 14vw;
    }

    #tagline {
        font-size: 20px;
    }

    .imgsplit {
        padding-bottom: 0;
    }
    
    .imgsplit div {
        width: 100%;
    }

    .logorow {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    
    .logorow img {
        max-height: 8vw;
    }

    .rightimg,
    .leftimg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
    }

    .leftimg .imgsplit--img,
    .leftimg .imgsplit--text,
    .rightimg .imgsplit--img,
    .rightimg .imgsplit--text {
        margin: 0;
    }

    .imgsplit p {
        width: 100%;
    }

    .rosterbox {
        height: 210px;
        width: 294px;
    }

    #socials {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        gap: 15px;
        padding-top: 15px;
    }
}

@media only screen and (max-height: 480px) {
    nav ul {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
    nav ul {
        font-size: 2vw;
    }
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

@-webkit-keyframes movebutton {
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes movebutton {
    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes hide {
    100% {
        top: var(--nav-height-neg);
    }
}

@keyframes hide {
    100% {
        top: var(--nav-height-neg);
    }
}

@-webkit-keyframes grow {
    100% {
        top: 0;
        height: var(--vh100);
    }
}

@keyframes grow {
    100% {
        top: 0;
        height: var(--vh100);
    }
}

@-webkit-keyframes movebuttonback {
    100% {
        top: 0;
    }
}

@keyframes movebuttonback {
    100% {
        top: 0;
    }
}

@-webkit-keyframes unhide {
    100% {
        top: 0;
    }
}

@keyframes unhide {
    100% {
        top: 0;
    }
}

@-webkit-keyframes shrink {
    100% {
        top: var(--nav-height);
        height: var(--content-height);
    }
}

@keyframes shrink {
    100% {
        top: var(--nav-height);
        height: var(--content-height);
    }
}