#rostercontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.rosterbox {
    position: relative;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    margin: 10px;
    background-size: cover !important;
}

.rostertext {
    position: absolute;
    width: 100%;
    text-align: center;
    color: blue;
    text-shadow: -2px -1px 0px aqua, 2px 1px 0px white;
    font-size: 22px;
    font-weight: bold;
}

.overlay {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: blue;
    border-radius: 10px;
    z-index: 1;
}

.overlay:hover {
    cursor: pointer;
    opacity: 0.3;
}

@media only screen and (max-width: 640px),
  only screen and (max-device-width: 640px) {
    .rosterbox {
        height: 210px;
        width: 294px;
    }
}

/* @media only screen and (max-width: 480px),
  only screen and (max-device-width: 480px) {
    .rosterbox {
        height: 575px;
        width: 805px;
    }

    .rostertext {
        font-size: 58px;
    }
} */