html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
}

.noselect {
    user-select: none;
}

.fullscreen {
    height: 100vh;
}

#content {
    position: absolute;
    left: 25vw;
    width: 70vw;
    overflow-x: hidden;
}

#jumbo {
    font-size: xx-large;
}

#jumbo div {
    height: 50%;
}

#logoarea {
    background: url(./img/TFM4\ transparent\ black\ 500.png) center top no-repeat;
    background-size: contain;
}

#tagline {
    width: 100%;
    position: absolute;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
    width: 90%;
}

#contactcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}