body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#wrap {
    display: flex;
    flex-flow: column;
}

.noselect {
    user-select: none;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#content {
    position: absolute;
    width: 72vw;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 4vh;
    height: 96vh;
    overflow: auto;
    scroll-behavior: smooth;
}

#jumbo {
    height: 95vh;
    font-size: 26px;
}

#logoarea {
    height: 80%;
    background: url(./img/TFM4\ transparent\ black\ 500.png) center no-repeat;
    background-size: contain;
}

#tagline {
    height: 15%;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
}

.aboutimg {
    height: 70vh;
}