body {
    margin: 0;
    color: white;
}

nav {
    position: fixed;
    height: 5vh;
    top: 0;
    background: red;
    width: 100%;
    color: white;
    font-size: xx-large;
    padding-left: 1vw;
    user-select: none;
}

#equiv {
    position: absolute;
}

#equiv:hover {
    cursor: pointer;
}

#menu {
    position: fixed;
    top: 5vh;
    left: -30%;
    background: orange;
    width: 30%;
    height: 100%;
    opacity: 1;
    text-align: center;
    font-size: xx-large;
}

#menu li {
    list-style-type: none;
    user-select: none;
}

#menu li span:hover {
    cursor: pointer;
}

.openmenu {
    animation: menopen .5s forwards;
}

.closemenu {
    animation: menclose .5s forwards;
}

@keyframes menopen {
    from {
        left: -30%;
    }
    to {
        left: 0%;
    }
}

@keyframes menclose {
    from {
        left: 0%;
    }
    to {
        left: -30%;
    }
}

#jumbo {
    color: black;
}

.section {
    height: 100vh;
    font-size: 5vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section p {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: xx-large;
}

.imgright {
    background: green;
}

.imgleft {
    background: blue;
}

.abt {
    padding: 5vh;
    background: green;
    font-size: xx-large;
}

.abt p {
    font-size: large;
}