:root {
    --nav-height: 10vh;
    --content-height: calc(100vh - var(--nav-height));
}

body {
    margin: 0;
}

#nav {
    background: black;
    width: 100vw; height: var(--nav-height);
}

#content {
    background: blue;
    width: 100vw; height: var(--content-height);
}
