body {
    margin: 0;
    overflow-x: hidden;
}

.caroubutton {
    position: absolute;
    height: 10vw;
    width: 3vw;
    font-size: 60px;
    border: none;
    color: blue;
    text-shadow: 0px 1px 1px white;
    cursor: pointer;
}

#prev {
    background: linear-gradient(to left, rgba(0,0,0,0),  rgba(0,0,0,.8));
    left: 0;
}

#prev:hover {
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.8),  rgba(0,0,0,1));
}

#next {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.8));
    right: 0;
}

#next:hover {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.8),  rgba(0,0,0,1));
}

#d {
    position: absolute;
    width: 200vw;
    left: -28vw;
    height: 10vw;
}
  
.box {
    display: inline-block;
    width: 14vw;
    height: 10vw;
}

.one {
    background: url(../img/ray.jpg) no-repeat;
    background-size: contain;
}

.two {
    background: url(../img/davestruestory.jpg) no-repeat;
    background-size: contain;
}

.three {
    background: url(../img/courtney.PNG) no-repeat;
    background-size: contain;
}

.four {
    background: url(../img/neil.JPG) no-repeat;
    background-size: contain;
}

.five {
    background: url(../img/lipbone.png) no-repeat;
    background-size: contain;
}

.six {
    background: url(../img/sixthletter.PNG) no-repeat;
    background-size: contain;
}

.seven {
    background: url(../img/mlumbo.jpg) no-repeat;
    background-size: contain;
}

.eight {
    background: url(../img/marc.jpeg) no-repeat;
    background-size: contain;
}

.nine {
    background: url(../img/buick6.jpg) no-repeat;
    background-size: contain;
}

.ten {
    background: url(../img/julie.jpg) no-repeat;
    background-size: contain;
}

.eleven {
    background: url(../img/linda.jpg) no-repeat;
    background-size: contain;
}

.twelve {
    background: url(../img/squealer.JPG) no-repeat;
    background-size: contain;
}

.thirteen {

}

.fourteen {

}

.fifteen {

}

.sixteen {
    
}