/*
░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗██╗░░██╗███████╗███████╗████████╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝██║░░██║██╔════╝██╔════╝╚══██╔══╝
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░███████║█████╗░░█████╗░░░░░██║░░░
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗██╔══██║██╔══╝░░██╔══╝░░░░░██║░░░
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝██║░░██║███████╗███████╗░░░██║░░░
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░╚═╝░░╚═╝╚══════╝╚══════╝░░░╚═╝░░░*/


/* background */
/* background */

html,
body {
  margin: 0;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #B27A77;
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection { /* Code for Firefox */
  background: #ad6580;
}

::selection {
  background: #ad6580;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* banner & menu */
/* banner & menu */

.banner {
  position: sticky;
  top: 0;
  margin: 0 auto;
  display: block;
  background: #995D5A;
  color: #E9C4C2;
  font-size: 12pt;
  width: 100%;
  height: 15vh;
  box-shadow: 0px -10px 20px #E9C4C2;
  z-index: 2;
}

.banner a {
  display: inline-block;
  width: 65px;
  padding: 1vh;
  border: 1px solid #E9C4C2;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  color: #E9C4C2;
}

.banner a:hover {
  color: #995D5A;
  background: #E9C4C2;
  cursor: pointer;
}

.homebutton {
  box-shadow: 0px 0px 10px #E9C4C2;
}

#burger {
  display: none;
  right: 0;
}

#burger:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px #E9C4C2;
}

#mobile_menu {
  margin: 0 auto;
  position: absolute;
  display: none;
  background: #995D5A;
  color: #E9C4C2;
  width: auto;
  right: 3%;
}

.banner img {
  height: 20vh;
}

.banner img:hover {
  cursor: pointer;
}

/* generic content */
/* generic content */

.main-content {
  color: #E9C4C2;
  min-height: 73vh;
}

.main-content h1 {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 42pt;
  color: #E9C4C2;
  text-shadow: 2px 2px 0px #823329, 0px 0px 15px #823329, 0px 0px 5px #823329;
  text-align: center;
}

.textsection p {
  padding: 3vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 15px;
  text-align: left;
  font-size: 14pt;
  border: 1px groove #E9C4C2;
  background: #995D5A;
  opacity: 1;
  border-radius: 10px;
}

/* initial tab style */
/* initial tab style */

#home {
  display: block;
}
#roster {
  display: none;
}
#synch {
  display: none;
}
#news {
  display: none;
}
#about {
  display: none;
}
#contact {
  display: none;
}
#mobile_menu {
  display: none;
}

/* slideshow carousel */
/* slideshow carousel */

.multi {
  overflow: hidden;
  width: 100vw;
  margin: 0;
  left: 0;
  z-index: 0;
}

.glide__bullet {
  border: 3px solid black !important;
  height: 2vh !important;
  width: 2vh !important;
}

.glide__slides {
  height: 55vh;
  width: 100%;
  margin: 0;
  left: 0;
  overflow: hidden;
}

.glide__track {
  margin: 0;
  left: 0;
  overflow: hidden;
}

.glide__slide {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
  overflow: hidden;
}

#slide1 {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/888/107/791/saxophone-and-piano-brass-saxophone-wallpaper-preview.jpg);
}

#slide2 {
  background-image: url(https://images4.alphacoders.com/112/112076.jpg);
}

#slide3 {
  background-image: url(https://images.unsplash.com/photo-1588032786045-59cefda005c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZHJ1bXxlbnwwfHwwfHw%3D&w=1000&q=80);
}

#slide4 {
  background-image: url(https://wallpapercave.com/wp/wp2130015.jpg);
}

#slide5 {
  background-image: url(https://wallpaperaccess.com/full/1237989.jpg);
}

#slide6 {
  background-image: url(https://www.teahub.io/photos/full/288-2884467_fender-jazz-bass-wallpaper-hd.jpg);
}

#slide7 {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/227/34/550/music-vacuum-tube-amplifiers-audio-wallpaper-preview.jpg);
}

#slide8 {
  background-image: url(https://c1.wallpaperflare.com/preview/263/795/788/songwriting-guitar-songwriter-composer.jpg);
}

.glide__slide:hover {
  cursor: grab;
}

/* home stuff */
/* home stuff */

#logowrap {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 11vh;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

#homelogo {
  min-height: 50vh;
  max-height: 60vh;
  width: auto;
  max-width: 100vw;
  -webkit-filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 5px white) drop-shadow(2px 2px 1px black) drop-shadow(-2px -2px 1px black);
  filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 5px white) drop-shadow(2px 2px 1px black) drop-shadow(-2px -2px 1px black);
}

#homeabout {
  display: flex;
  padding-left: 23vw;
  padding-right: 23vw;
  padding-top: 2vh;
  gap: 3vh;
}

#we {
  position: absolute;
  font-size: 10vh;
  padding-left: 10vw;
  padding-top: 1vh;
}

#homeabout div {
  font-size: 2.2vh;
  border: 1px solid #823329;
  border-radius: 200px;
  padding: 30px;
  text-align: center;
}

.logorow {
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width:90rem;
  text-align:center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.logorow img {
  margin-top: 5%;
  max-height: 10vh;
}

.split {
  display: grid;
  grid-template-columns: 60vw 35vw;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.split-reverse {
  display: grid;
  grid-template-columns: 45vw 50vw;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

#collectionsplit {
  background: linear-gradient(to bottom, #B27A77ee, #B27A7700), url(light-red-blurred-background-vector.jpg);
}

#streamingsplit {
  background: linear-gradient(to bottom, #ffffffff, #B27A7700), url(light-red-blurred-background-vector.jpg);
}

.bgtocolor {
  background: linear-gradient(to bottom, #B27A7700, #B27A77ff), url(light-red-blurred-background-vector.jpg);
}

.splitimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.split .left {
  margin-left: 10vw;
}

.split-reverse .left {
  margin-left: 10vw;
}

.homehead {
  font-size: 3vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  padding-right: 5vw;
}

hr {
  height: 0.9vh;
  background: #E9C4C2;
  border: none;
}

.blurb {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-right: 5vw;
  padding-bottom: 5vh;
  padding-top: 5vh;
  font-size: 1.75vw;
}

.blackonwhite {
  color: black;
  background: white;
}

/* roster */
/* roster */

.rostertext {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: -2px -1px 0px #823329, 2px 1px 0px black;
  font-size: 22px;
  font-weight: bold;
}

.main-content table {
  margin: 0 auto;
  margin-top: 15px;
}

.main-content td {
  border: 1px groove #EADEDA;
  border-radius: 10px;
  padding: 7vw;
}

.textsection td {
  border: none;
  margin: 0;
  padding: 5px;
}

#roster td {
  position: relative;
  display: inline-block;
  height: 20vw;
  width: 28vw;
  margin: 0.5vw;
}

#roster img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #823329;
  border-radius: 10px;
  z-index: 1;
}

.overlay:hover {
  cursor: pointer;
  opacity: 0.3;
}


/* contact */
/* contact */

.textsection form {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #823329;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 1px solid #EADEDA;
  border-radius: 10px;
}

.an1 {
  max-width: 12px;
}

/* news */
/* news */

#news .textsection {
  margin: 0 auto;
  display: block;
  border: 1px solid #823329;
  border-radius: 10px;
  width: 90vw;
  color: #823329;
  font-size: 16px;
}

#news p {
  background: #EADEDA;
  color: #823329;
  padding: 1vw;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 16px;
}

#news img {
  max-width: 69.7vw;
}

.post-wrap {
  display: block;
  background: #EADEDA;
  border-radius: 10px;
  color: #823329;
}

.card-head {
  padding: 1vw;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #823329;
  color: #EADEDA;
}

/* synch */
/* synch */

.synchimg {
  width: 28vw;
  height: 25vh;
}

/* mobile view */
/* mobile view */

@media only screen and (max-width: 640px),
  only screen and (max-device-width: 640px) {

  .homehead {
    font-size: 8.5vw;
    margin-top: 0;
  }

  #homelogo {
    max-height: 40vh;
  }

  #homeabout {
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 13vh;
    gap: .5vh;
  }

  #thirdhomeabout {
    position: absolute;
    top: 83vh;
  }
  
  #we {
    width: 80vw;
    text-align: center;
    font-size: 6vh;
    padding-top: 0;
  }

  #homeabout div {
    font-size: 2vh;
    width: 32vw;
    padding: 5vw;
  }

  .logorow img {
    margin-top: 10%;
    max-height: 7vh;
  }

  .split, .split-reverse {
    grid-template-columns: 97vw;
    padding-bottom: 0;
  }

  .split-reverse .left {
    order: 2;
    margin-left: 0;
  }

  .split-reverse .right {
    order: 1;
    margin-left: 10vw;
  }

  .blurb {
    font-size: 5vw;
    padding-top: 1vh;
  }
  
  #collectionrow img {
    height: 8vh;
  }

  #contact a img {
    width: 20vw !important;
  }

  .glide__slides {
    height: 50vh !important;
  }

  .synchimg {
    width: 80vw !important;
    height: auto !important;
  }
  
  .banner a {
    display: none;
  }

  #mobile_menu a {
    display: block !important;
  }

  #mobilemenuhead {
    margin: 0;
    display: block !important;
    text-align: center;
    text-shadow: 2px 2px 1px #823329;
  }

  .banner table {
    width: 100%;
  }

  #burger {
    display: block;
    text-align: center;
    font-size: 48pt;
  }

  .textsection p {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }

  #roster td {
    display: block;
    width: 80vw !important;
    height: 60vw !important;
  }

  #home .textsection {
    margin: 0px !important;
  }

  .synchimg {
    width: 35vw;
    height: 10vh;
  }

  .slidegif {
    height: 20vh !important;
  }

}

@media only screen and (min-width: 640px) and (max-width: 1000px),
  only screen and (min-device-width: 640px) and (max-device-width: 1000px) {
    .homehead {
      padding-top: 0;
      font-size: 4.2vw;
    }
    .blurb {
      padding-top: 2%;
      font-size: 2.35vw;
    }
    .logorow img {
      margin-top: 10%;
      max-height: 6vh;
    }
    .split, .split-reverse {
      padding-top: 0;
    }
}

@media only screen and (min-width: 640px) and (max-width: 760px),
  only screen and (min-device-width: 640px) and (max-device-width: 760px) {
    .homehead {
      font-size: 3.5vw;
    }
    .blurb {
      font-size: 2.5vw;
    }
}

@media only screen and (max-height: 530px),
  only screen and (max-device-height: 530px) {
    .logorow img {
      margin-top: 5%;
      max-height: 11vh;
    }
  }

/* desktop view */
/* desktop view */

@media only screen and (min-width: 640px),
  only screen and (min-device-width: 640px) {
  #mobile_menu a,
  #mobilemenuhead {
    display: none;
  }
  #home .textsection {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

/* footer */
/* footer */

.footer {
  height: 5vh;
  background: linear-gradient(to bottom, #B27A77ff, #823329), url(light-red-blurred-background-vector.jpg);
  color: white;
  margin: 0 auto;
  padding-top: 2vh;
  text-align: center;
}
