.imgsplit {
    display: flex;
    padding-bottom: 50px;
}

.imgsplit p {
    width: 90%;
}

.imgsplit div {
    width: 50%;
    min-height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.rightimg {
    flex-flow: row;
}

.leftimg {
    flex-flow: row-reverse;
}

.rightimg .imgsplit--text {
    margin-left: 30px;
}

.leftimg .imgsplit--text,
.rightimg .imgsplit--img {
    margin-left: 10px;
}

.leftimg .imgsplit--img,
.rightimg .imgsplit--text {
    margin-right: 10px;
}

@media only screen and (max-width: 640px) {
    .imgsplit {
        padding-bottom: 0;
    }
    
    .imgsplit div {
        width: 100%;
    }

    .rightimg,
    .leftimg {
        flex-flow: column;
    }

    .leftimg .imgsplit--img,
    .leftimg .imgsplit--text,
    .rightimg .imgsplit--img,
    .rightimg .imgsplit--text {
        margin: 0;
    }

    .imgsplit p {
        width: 100%;
    }
}
