body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.noselect {
    user-select: none;
}

#wrap {
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#content {
    position: absolute;
    width: 72vw;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 4vh;
    height: 96vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.aboutimg {
    height: 70vh;
}

#footer {
    text-align: center;
}
